* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.25s ease-in-out;
}

.art {
  height: 100px;
  width: 100%;
  transition: all 0.25s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.text {
  height: inherit;
  margin: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 75px;
  overflow: hidden;
}

.art.active {
  height: 300px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.art.inactive {
  width: 100%;
  height: 50px;
  opacity: .6;
  transition: all 0.25s ease-in-out;
}

.art.frame1 {
  background: #FFCCBB;
  background-size: cover;
}

.art.frame2 {
  background: #F78D78;
  background-size: cover;
}

.art.frame3 {
  background: #CB9897;
  background-size: cover;
}

.art.frame4 {
  background: #9BB9C3;
  background-size: cover;
}

.art.frame5 {
  background: #947481;
  background-size: cover;
}

.art.frame6 {
  background: #C39C92;
  background-size: cover;
}

.art.frame7 {
  background: #BEAFAC;
  background-size: cover;
}

.art.frame8 {
  background: #BDBDBD;
  background-size: cover;
}

.art.frame9 {
  background: #AAAC9F;
  background-size: cover;
}

.art.frame10 {
  background: #BB6859;
  background-size: cover;
}

/* @media screen and (min-width: 640px) {
  .gallery{
    display: flex;
  }
} */