* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* body {
  height: 500;
  width: 1000;
} */

.gallery {
  margin: auto;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.25s ease-in-out;
  transform: translate(-50%, -50%);
}

.art {
  width: 9%;
  height: inherit;
  background: yellow;
  display: inline-block;
  transition: all 0.25s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.text {
  height: inherit;
  width: 400px;
  padding-left: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 75px;
  overflow: hidden;
  float: left;
}

.art.active {
  width: 400px;
  height: inherit;
  transition: all 0.25s ease-in-out;
}

.art.inactive {
  width: 5%;
  height: inherit;
  opacity: .6;
  transition: all 0.25s ease-in-out;
}

.art.frame1 {
  background: #FFCCBB;
  background-size: cover;
}

.art.frame2 {
  background: #F78D78;
  background-size: cover;
}

.art.frame3 {
  background: #CB9897;
  background-size: cover;
}

.art.frame4 {
  background: #9BB9C3;
  background-size: cover;
}

.art.frame5 {
  background: #947481;
  background-size: cover;
}

.art.frame6 {
  background: #C39C92;
  background-size: cover;
}

.art.frame7 {
  background: #BEAFAC;
  background-size: cover;
}

.art.frame8 {
  background: #BDBDBD;
  background-size: cover;
}

.art.frame9 {
  background: #AAAC9F;
  background-size: cover;
}

.art.frame10 {
  background: #BB6859;
  background-size: cover;
}